.containerPrincipal {
    position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 5px solid rgb(46, 156, 170);
      padding: 60px;
      background-color: white;
      border-radius: 10%;
  }

  .titulosistema{
    text-align: center;
    color: rgb(46, 156, 170);
    font-family: 'Preahvihear', sans-serif;
   }

   .sub-titulo{
    text-align: center;
    color: rgba(25, 93, 102, 0.973);
    font-family: 'Preahvihear', sans-serif;
    }

   .sub{
    color: rgb(46, 156, 170);
    font-family: 'Preahvihear', sans-serif;
   }

   .botoncito{
    color: rgb(255, 255, 255);
    font-family: 'Preahvihear', sans-serif;
    background-color:rgb(46, 156, 170);
    
   }