@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alfa+Slab+One&family=Cabin:ital@1&family=Grand+Hotel&family=Josefin+Sans:ital,wght@1,600&family=Lobster&family=Mochiy+Pop+One&family=Montserrat+Alternates&family=Nokora&family=Overpass&family=Pacifico&family=Potta+One&family=Preahvihear&family=Secular+One&family=Staatliches&family=Ubuntu&display=swap');

.titulosistema{
 text-align: center;
 color: rgb(46, 156, 170);
 font-family: 'Preahvihear', sans-serif;
}

.sub{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Preahvihear', sans-serif;
   }

.user{
    font-family: 'Acme', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 32pt;
}

.botoncito{
    color: rgb(255, 255, 255);
    font-family: 'Preahvihear', sans-serif;
    background-color:rgb(46, 156, 170);
    
   }

   .botoncito1{
    color: rgb(255, 255, 255);
    font-family: 'Preahvihear', sans-serif;
    background-color:rgb(53, 143, 155);
   }
